# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: rm -rf src/.umi
      - run: yarn
      # - run: export NODE_OPTIONS=--openssl-legacy-provider && yarn build
      # - run: cp -a /root/CGX/admin/CGX_Admin/CGX_Admin/dist/. /var/www/html/cgx_admin/
      - run: pm2 kill
      - run: pm2 --name "cgx-admin" start "yarn start:dev"
      - run: pm2 restart 0
